/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn-finance/web-lib/dist/style.css';

input::placeholder {@apply not-italic}
* {
	@apply font-mono;
}


/* 🔵 - Yearn Finance ******************************************************
** Styling the web-lib components in order to fit the theme for this
** specific project.
**************************************************************************/
.component--switchCard-wrapper {
	@apply flex flex-row justify-between p-2 space-x-2 w-full cursor-pointer md:p-0 md:space-x-6 md:w-max
}
.image-align-middle > img {
	object-position: 0 70%;
}
:root body[data-theme="dark"],
:root body[data-theme="light"] {
	--color-neutral-0: 0 0% 100%;	/* white */
	--color-neutral-100: 0 0% 100%;	/* white */
	--color-neutral-200: 0 0% 96%;	/* grey-1 */
	--color-neutral-300: 0 0% 87%;	/* grey-2 */
	--color-neutral-400: 0 0% 53%;  /* grey-3 */
	--color-neutral-500: 0 0% 53%;  /* grey-3 */
	--color-neutral-700: 0 0% 0%;   /* black */
	--color-neutral-800: 0 0% 17%;  /* black-1 */
	--color-neutral-900: 0 0% 0%;   /* black */

	--color-primary-100: 0 0% 0%;   /* black */
	--color-primary-200: 0 0% 0%;   /* black */
	--color-primary-500: 0 0% 0%;   /* black */
	--color-primary-600: 0 0% 0%;   /* black */
	--color-accent-500: 0 0% 0%;    /* black */
	--color-accent-600: 0 0% 0%;    /* black */
	@apply bg-neutral-200;
}

.yearn--button {
	@apply rounded-none h-10 relative transition-all border-primary-500 flex justify-start;

	&[data-variant="outlined"] {
		@apply bg-neutral-0 border-2;
		&:not(:disabled):not([aria-busy="true"]):hover {@apply bg-neutral-100;}
	}
	&[data-variant="filled"] {
		@apply border-2;
		&:disabled {@apply opacity-40;}
	}
}

.yearn--card {
	@apply border-2 border-primary-500 !shadow-none rounded-none;
}
.yearn--input-max {
	--input-max-text-color: hsl(var(--color-typo-secondary));
	--input-max-border-color: hsl(var(--color-typo-secondary));
	--input-max-bg-color-hover: hsl(var(--color-typo-primary)/0.1);
}

/* 🔵 - Yearn Finance ******************************************************
** Adding some custom scss classes
**************************************************************************/
.nftreasury--withShadow {
	@apply relative mt-2 w-fit h-fit bg-repeat -mr-2;
	& > * {@apply -top-2 -left-2 transition-all relative;}
	background-image: url('/shadowPattern.svg');

	&[role="button"] {@apply cursor-pointer -left-2 ml-4;}
	&[role="button"] > *:hover {@apply -top-1 -left-1;}
	&[role="button"] > *:active {@apply top-0 -left-0;}
	&[role="large"] {
		& > * {
			@apply -top-4 -left-4 align-middle; 
		}
	}
}
.nftreasury--withShadow-wrapper {
	@apply pt-[1px] -mt-2 cursor-pointer;

	& .nftreasury--withShadow[role="button"] {
		@apply cursor-pointer -left-2 ml-4;
	}
	&:hover {
		& > .nftreasury--withShadow[role="button"] > * {
			@apply -top-1 -left-1;
		}
	}
	&:active {
		& > .nftreasury--withShadow[role="button"] > * {
			@apply top-0 left-0;
		}
	}
}

h1 {
	@apply text-6xl;
}

h2 {
	@apply text-4xl font-bold;
}

h3 {
	@apply text-xl;
}

.dot-below {
	position: relative;
}
.dot-below::before {
	transform: translateX(-50%);
	border-radius: 100%;
	position: absolute;
	background: black;
	bottom: -4px;
	height: 3px;
	content: '';
	width: 3px;
	left: 50%;
  }

.grey-box {
	border: solid 2px #DDDDDD;
	background-color: #F6F6F6;
}